body {
  .panel {
    border: 1px solid black;
    width: fit-content;
    margin: 20vh auto 0 auto;
    padding: 1em 8em;

    h1 {
      text-align: center;
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2em;

      input[type="submit"] {
        margin-top: 2em;
        padding: 0.2em 2.5em;
      }
    }
  }
}

