body {
  .panel {
    border: 1px solid black;
    width: fit-content;
    margin: 20vh auto 0 auto;
    padding: 1em 8em;

    h1 {
      text-align: center;
      margin: 0;
    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2em;

      input[type="submit"] {
        margin-top: 2em;
        padding: 0.2em 2.5em;
      }

      input[type="text"], input[type="password"] {
        border: 1px solid black;
        border-radius: .2em;
        transition: box-shadow 0.2s;

        &:user-invalid {
          box-shadow: 0 0 0 2px white, 0 0 0 4px red
        }
      }

      #password-requirements {
        position: absolute;
        translate: 100% 0;
        right: 0;
        background: white;
        border: 1px solid black;

        opacity: 0;
        transition: opacity .2s;
      }

      #password:focus + #password-requirements {
        opacity: 1;
      }
    }

    #message {
      text-align: center;
    }
  }
}

