main {
  border: 1px solid black;
  margin: 2em 3em 2em 3em;

  #calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    #month-name {
      margin: 0;
      height: 1em;
    }
  }

  .weekday-header {
    text-align: center;
    border: 1px solid black;
    padding: 0.3em;
  }

  #calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;

    .calendar-day-wrapper {
      position: relative;
      height: 0;
      padding-bottom: 100%;
      border: 1px solid black;

      .calendar-day {
        position: absolute;
        inset: 0;
        overflow: auto;
        text-decoration: none;

        .day-number {
          margin: 0 0.2em;
          color: black;

          &.off-month {
            opacity: 0.3;
          }
        }

        .job-entry {
          border-radius: 5px;
          border: 1px solid black;
          color: black;
        }
      }
    }
  }
}
