body {

    .panel {
        border: 1px solid black;
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 12rem;
        padding: 5rem;
        line-height: 1.5rem;
        text-align: center;

        .new-entry-bar {
            position: relative;
            /*line-height: 1.5rem;*/
            text-align: center;

            .productInput {
                position: absolute;
                right: 0;
            }

            label {
                position: absolute;
                left: 0;
            }
        }

        table {

            margin: 0 auto;

            .header {
                border: 1px solid black;
            }

            .data {
                border: 1px solid black;
            }
        }

    }
}